@import url("https://kit.fontawesome.com/a076d05399.js");


/* home section */
body {

  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#main_hero {
  background-image: url('../public/images/background.jpg');
  background: cover;
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
}

.text-1 {
  font-size: 75px;
  line-height: 62px;
  padding: 1% 0 !important;
  padding-left: -3% !important;
}

.image_hero {
  width: 77%;
  border-radius: 60%;
}

.nav-link:hover {
  color: rgb(15, 14, 14);

}

/* home section */
/* about section */
.slider {
  width: 80%;
  height: 15px;
  border-radius: 34px;
  background-color: grey;
}

.inner-slider {
  background-color: orange;
  height: 15px;
  border-radius: 34px;
}

.btn {
  background-color: rgb(196, 136, 26);
  border-radius: 40px;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid orange;
}

/* about section */